[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
	branch = v02
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl.git

[submodule "deps/tinyad"]
	path = deps/tinyad
	url = https://github.com/patr-schm/TinyAD.git

